[Unit]
Description=Daily taxi-gps database backup timer

[Timer]
OnCalendar=*-*-* 02:30:00
Persistent=true
Unit=taxi-gps-backup-daily.service

[Install]
WantedBy=timers.target
